:root{
    --cp1: 219deg 24% 37%;
    --color-primary-1: hsl(var(
    --cp1));
    --color-primary-2:#5f749f;
    --color-primary-3:#b0b4be;
    --color-text-1:white;
    --color-text-2:#0d0f15;
    --height-footer: 41px;
--time: 0.5s;
--ease: cubic-bezier(0.33, 1, 0.68, 1);
--width-mobile-limit: 455px;
}
*, *::before, *::after {
    transition-duration: var(--time);
    transition-timing-function: var(--ease);
}

hidden {
    display: none;
}

body {
    background-color: var(--color-primary-2);
    font-family: sans-serif;
    /* background-image: url(../images/hero\(roto\).png); */
    position: relative;
    min-width: 500px;
    /* width: 960px; */
    /* width: 600px; */
    /* margin: auto; */
    /* padding: 0 20vw 0; */
    counter-reset: pages;
    overflow: hidden;
    color: var(--color-text-2);
}


.bar.top {
    font-size: 0.55em;
    position: fixed;
    inset: auto 0;
    z-index: 999;
    padding: 0.5rem 0;
    --color-hover: var(
    --cp1);
    --box-blur: 0.6em;
    --box-alpha:1;
    background-color: transparent;
}

.bar.top a[href="#s1"] img:nth-child(1) {
    border-radius: 100%;
    margin-right:.5em;
}

.bar.top a[href="#s1"]:hover img:nth-child(1) {
    /* border:thin red solid; */
    box-shadow: 0 0 var(--box-blur) hsl(var(--color-hover) / var(--box-alpha));
}

.bar.top nav ul a {
/*     --a: 0; */
/*     --b1: 0px; */
/*     --b2: 0px; */
    color: inherit;
    font-style: italic;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1em;
    background-color: transparent;
    transition-duration: calc(var(--time)*2);
}

.bar.top nav ul a:hover {
--a: var(--box-alpha);--b1: 2em;--b2: var(--box-blur);box-shadow: 0 0 var(--b1) hsl(var(--color-hover) / var(--a)) inset, 0 0 var(--b2) hsl(var(--color-hover) / var(--a));}

.bar.top nav ul a span {
    --border-size: .1em;
    counter-increment: pages;
    padding: 0.2em 0.5em;
    background-image: linear-gradient(90deg,currentColor 33%, transparent 33%, transparent 66%, currentColor 66% );
    background-size: 310% var(--border-size);
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition-property: background-position;
}

.bar.top nav ul a:hover span {
    background-position: 100% 100%;
}

.bar.top nav ul a span::before, .page h2::before {
    content: counters(pages, ".", decimal-leading-zero) ". ";
}

.bar.top nav ul {display: flex;gap: max((2vw+.2em), 1em);}
.bar.top li {
    display: inline;
}

.bar.top img {
    height: 3em;
}

.bar.top #logo img:nth-child(1) {
    border-radius: 100%;
}
nav {
    display: flex;
    place-content: space-between;
    place-items: center;
    margin-inline: 1em max(0px, min(1em, calc((100vw - .5em - 100%) * 9999)));
    color: var(--color-text-1);
}
main {
    /* height: 1530px; */
    height: calc(100vh - var(--height-footer));
    /* width: 80vw; */
    margin: auto;
}
.app > * {
  display: none;
}

.app > *:last-child {
  display: block;
}

.app > *:target {
  display: block;
  animation: fade;
}
  
.app > *:target ~ * {
  display: none;
}
.page {
    position: relative;
    height: 100%;
}

.page:nth-child(n+2) {
    border-top: var(--color-primary-2) 3em solid;
}

.page#s3 {grid-template-rows: auto 1fr;/*     background-image: url(../images/bg2.png); */display: grid;grid-auto-columns: auto, 1fr;}

.page#s2 {
    background-image: url(../images/bg1.png);
}

.page#s1,
.page#s1::before ,
.page#s1::after {
    width: 100%;
    height: 100%;
    z-index: -11;
    background-image: url(../images/hero.png);
    background-position: 42% 0%;
    background-repeat: no-repeat;
    background-size: cover;
}

.page#s1::before ,
.page#s1::after {
    content: "";
    position: absolute;
}
.page#s1::before{
    background-image: url(../images/title2.png);
    /* opacity:0; */
    /* animation-delay: var(--time); */
    /* animation-duration: calc(var(--time)*3); */
    --time: 3s;
    animation-name: fadeInDelay;
}
.page#s1::after {
    background-image: url(../images/footerGradient.png);
}

.page header{
    padding: 0em 2em 0.9em;
    display: flex;
    place-items: center;
    gap: 2em;
    /* padding-inline: 1em; */
}

.page#s3 header{
    background-color: var(--color-primary-2);
}
.page h2::before{
    opacity: .5;
    font-size: 4em;
    /* position: absolute; */
    /* top: 1em; */
    margin-right: -0.15em;
    /* line-height: 1.3; */
}
.page h2, .page h3, .page summary, .page label {
    /* font-weight: bold; */
    font-stretch: condensed;
    text-transform: uppercase;
    font-family: "Impact";
}

.page h2 {
    font-size: 1.4em;
    display: flex;
    place-items: center;
    line-height: 0.8;
    color: var(--color-primary-1);
}

.page header h2 span {
    margin-bottom: -0.7em;
}

.page header p {
    font-size: 0.7em;
}

.page .cont{
    --banner-height: 2em;
    background-image: linear-gradient(180deg, var(--color-primary-1) var(--banner-height), transparent var(--banner-height));
    height: 100%;
    position: relative;
}

details{
/*     position: relative; */
}
details, summary{
  transition:none;
}
details > summary {
  --offset: 0.4em;
  list-style: none;
  background-color: var(--color-primary-1);
  color:var(--color-primary-3);
  display:inline-block;
  /* margin-top:calc(var(--offset)*-1); */
  padding: 0.24em 1em;
  border-color: transparent;
  /* border-block: var(--offset) transparent solid; */
}

details[open] > summary {border-block: var(--color-primary-3) var(--offset) solid;background-color: var(--color-primary-3);color: var(--color-primary-1);margin-top: calc(var(--offset)*-1);text-decoration: underline;}

details > summary::-webkit-details-marker {
  display:none;
}

details > summary + * {
  position:absolute;
  top: max(10px,13vh);
  /*   top:2em; */
  left:1em;
  left: max(0px, min(30px, calc((100vw - 17px - 97%) * 9999)));
  width: 370px;
  /* margin: 2em; */
  /* right: max(0px, min(10%, calc((100vw - 10px - 100%) * 9999))); */
  /* right: 50%; */
  padding: .5em 2em;
  background-color: white;
  box-shadow: 1em 0em 4em -2em var(--color-primary-1);
}
details h3{font-size: 1.5em;color:var(--color-primary-1);}

details table{
  /*   border-collapse: separate;
  border-spacing: 50px 2px; */
  font-size: 0.8em;
  width: 100%;
  }
details table tr{width: 100%;display:flex;/* flex-wrap: wrap; *//* align-content: space-between; *//* place-content: space-between; */gap: calc(15% + 10px);}
details td:first-child {/* padding-right:5em; */}


.tabs {
  list-style: none;
  float: none;
  /* display: grid; */
}
.tabs li {
    float: left;
    /* display: block; */
    display: inline;
  }
.tabs input[type="radio"] {
    cursor: none;
    --hover-height: 0em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    height: calc((var(--hover-height)*2) + var(--banner-height));
    margin-top: calc(var(
    --banner-height) * -1 - var(--hover-height));
    width: 100%;
    background-color: var(--color-primary-3);
    /* float: left; */
    /* position: relative; */
    /* top: var(--banner-height); */
    left: 0em;
    z-index: 0;
    display: none;
}

.tabs input[type="radio"]:checked {--hover-height: 0.25em;}


.tabs label{
  transition:none;
  --offset: 0.4em;
  list-style: none;
  background-color: var(--color-primary-1);
  color:var(--color-primary-3);
  display: block;
  padding: 0.24em 1em;
  border-color: transparent;
  cursor: pointer;
  user-select: none;
  position: relative;
  text-align: center;
  height: var(--banner-height);
  z-index: 1;
}
.tabs input:checked + label {
  border-block: var(--color-primary-3) var(--offset) solid;
  background-color: var(--color-primary-3);
  color: var(--color-primary-1);
  margin-top: calc(var(--offset)*-1);
  height: calc(var(--banner-height) + var(--offset)*2);
  text-decoration: underline;
  cursor: auto;
}
.tabs input[type="radio"] ~ .tab-content {position:absolute;z-index: 0;width:100%;height: 100%;left: 0;/* top: var(--banner-height); */background-size: cover;background-position: center center;}

.tabs input[type="radio"]:not(:checked) ~ .tab-content {
    display: none;
    height: 0%;
}


div#tab-content1 {
    background-image: url(../images/bg2.png);
}

div#tab-content2 {
    background-image: url(../images/bg3.png);
    background-position: center 30%;
}

.tabs h3{
  font-size: 1.5em;
  line-height:1.6em;
  color:var(--color-primary-1)
}
.tabs .box{
    --box-width-limit: 40%;
    --box-margin: 3vw;
    background-color: hsl(0deg 0% 100% / 70%);
    padding: 1em 2em;
    width: 19em;
    /* width: min(100% , max(60%, var(--box-width-limit))); */
    margin: var(--box-margin);
    /* margin-right: min(3vw, max(40%,350px)); */
    /* margin-right: 26vw; */
}

.tabs table{width:100%;}
.tabs table tr{width: 100%; display:flex;/* flex-wrap: wrap; *//* align-content: space-between; *//* place-content: space-between; */gap: calc(15% + 10px);font-size: 0.8em;}
.tabs td:first-child {/* padding-right:5em; */}




@media (max-width: 505px) and (orientation: portrait) 
{
  .tabs label,.tabs input:checked + label{
      margin:0px;
      height:auto;
      border: none;
  }
  .tabs .box{
    width:auto;
  }
  .tabs li{
    float: none;
  }
  .tabs input[type="radio"] ~ .tab-content{
    position: unset;
    position: relative;
    transition-property: height;
    height: 5%;
    overflow: hidden;
  }
}



@keyframes fadeInDelay{
    0% {
        opacity:0;
    }
    33% {
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

@keyframes fade {
    0% { opacity: 0 }
    50% { opacity: 0.5 }
    100% { opacity: 1 }
  }


footer {
    position: fixed;
    position: relative;
    /* bottom: 0; */
    font-size: 0.7em;
    height: var(--height-footer, auto);
    background-color: var(--color-primary-1);
}
footer nav{
    padding-block: 0.6em;
}
footer nav::after {
    content: "";
    inset: 0;
    position: absolute;
    z-index: 1;
    background-color: var(--color-primary-2);
    mix-blend-mode: multiply;
}

footer .copyright{
    font-size: 0.9em;
    font-style: italic;
    text-transform: uppercase;
    color: var(--color-primary-2);
}

footer img {
    height: 2em;
}

