:root{
    --cp1: 219deg 24% 37%;
    --color-primary-1: hsl(var(
    --cp1));
    --color-primary-2:#5f749f;
    --color-primary-3:#b0b4be;
    --color-text-1:white;
    --color-text-2:#0d0f15;
    --height-header: 8vh;--height-footer: 6vh;
    --time: 0.5s;
    --ease: cubic-bezier(0.33, 1, 0.68, 1);
    --width-mobile-limit: 455px;
}
*, *::before, *::after {
    transition-duration: var(--time);
    transition-timing-function: var(--ease);
    transition-property: none;
    animation-timing-function: var(--ease);
    animation-duration: calc(var(--time)*2);
    animation-fill-mode: forwards;
    animation-name: none;
}

hidden, *[hidden=true] {
    display: none;
}

body {
    position: relative;
    overflow: hidden;
    font-family: sans-serif;
    color: var(--color-text-2);
    background-color: var(--color-primary-2);
    /*  */
    counter-reset:linkCount pageCount;
}
.bar.top {
    font-size: 0.55em;
    /* position: fixed; */
    position: absolute;
    top: 0;
    inset: 1.5vh 0 auto;
    z-index: 999;
    
    --color-hover: var(
    --cp1);
    --box-blur: 0.6em;
    --box-alpha:1;
    background-color: transparent;
}

.bar.top, footer nav, .page header, .tabs, .tabs .cont {
    max-width: 965px;
    margin-inline: auto;
    padding-inline: 0.7em;
}

.bar.top a[href="#s1"] img:nth-child(1) {
    border-radius: 100%;
    margin-right:.5em;
}

.bar.top a[href="#s1"]:hover img:nth-child(1) {
    /* border:thin red solid; */
    box-shadow: 0 0 var(--box-blur) hsl(var(--color-hover) / var(--box-alpha));
}

.bar.top nav ul a {
/*     --a: 0; */
/*     --b1: 0px; */
/*     --b2: 0px; */
    color: inherit;
    font-style: italic;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1em;
    background-color: transparent;
    transition-property: box-shadow;
    transition-duration: calc(var(--time)*2);
    /*  */
    counter-increment: linkCount;
}

.bar.top nav ul a:hover {
--a: var(--box-alpha);--b1: 2em;--b2: var(--box-blur);box-shadow: 0 0 var(--b1) hsl(var(--color-hover) / var(--a)) inset, 0 0 var(--b2) hsl(var(--color-hover) / var(--a));}

.bar.top nav ul a span {
    --border-size: .1em;
    padding: 0.2em 0.5em;
    background-image: linear-gradient(90deg,currentColor 33%, transparent 33%, transparent 66%, currentColor 66% );
    background-size: 310% var(--border-size);
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition-property: background-position;
}

.bar.top nav ul a:hover span {
    background-position: 100% 100%;
}

.bar.top nav ul a span::before {
    content: counters(linkCount, ".", decimal-leading-zero) ". ";
}

.page h2::before {
    counter-increment: pageCount;
    content: counters(pageCount, ".", decimal-leading-zero) ". ";
}

.bar.top nav ul {display: flex;gap: max((2vw+.2em), 1em);}
.bar.top li {
    display: inline;
}

.bar.top img {
    height: 3em;
}

.bar.top #logo img:nth-child(1) {
    border-radius: 100%;
}
nav {
    display: flex;
    place-content: space-between;
    place-items: center;
    color: var(--color-text-1);
}
main {
    margin: auto;
    height: calc(100vh - var(--height-footer));
    min-height: 400px;
}
.app > * {
  display: none;
}

.app > *:first-child {
  display: grid;
}

.app > *:target {
  display: grid;
  animation-name: fade;
}
  
.app > *:target ~ * {
  display: none;
}
.page {
    position: relative;
    height: 100%;
    grid-auto-rows: auto 1fr;
}

.page:nth-child(n+2) {
    border-top: var(--color-primary-2) var(--height-header) solid;
}


.page header{
    padding-block: 0.5em 0.8em;
    display: flex;
    place-items: center;
    gap: 2em;
    opacity: 0;
    animation-delay: calc(var(--time)*2);
    animation-name: fade;
}
.page h2::before{
    opacity: .5;
    font-size: 4em;
    /* position: absolute; */
    /* top: 1em; */
    margin-right: -0.15em;
    /* line-height: 1.3; */
}

.page h2, .page h3, .page summary, .page label {
    /* font-weight: bold; */
    font-stretch: condensed;
    text-transform: uppercase;
    font-family: "Impact";
}

.page h2 {
    font-size: 1.4em;
    display: flex;
    place-items: center;
    line-height: 0.8;
    color: var(--color-primary-1);
}

.page header h2 span {
    margin-bottom: -0.7em;
}

.page header p {
    font-size: 0.7em;
}

.page > .cont{
    --banner-height: 2em;
    height: 100%;
    position: relative;
}

.page#s1,
.page#s1::before ,
.page#s1::after,
.page#s1 > * {
    z-index: -11;
    width: 100%;
    height: 100%;
    background-image: url(../images/hero.png);
    background-position: 42% 0%;
    background-repeat: no-repeat;
    background-size: cover;
}

.page#s1::before ,
.page#s1::after {
    content: "";
    position: absolute;
}
.page#s1::before{ background-image: url(../images/snow.png);mix-blend-mode: screen;opacity: .29;}
.page#s1 .heroTitle{
    background-image: url(../images/title2.png);
    animation-duration: calc(var(--time)*3);
    animation-name: fadeInDelay;
}
.page#s1::after {
    background-image: url(../images/footerGradient.png);
}

.page#s2 {
    /* display: grid; */
    background-image: url(../images/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
.page#s2 header {
    padding-top: 1.5em;
}
#slider{
  display: grid;
  grid-auto-rows: 1fr auto;
  /* overflow: hidden; */
}

.slider-container {
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-items: flex-start;
    /* backdrop-filter: brightness(0.8) blur(0.3em); */
    /* place-content: center; */
    /* place-items: center; */
    /* position: relative; */
}


.slider-container::-webkit-scrollbar{
    display: none;
}

.slider-container > * {
    height: 100%;
    display: grid;
    grid-auto-rows: 1fr auto;
    position: relative;
    place-content: center;
  transform: scale(1);
    /* backdrop-filter: blur(0.15em) brightness(0.8); */
    /* box-shadow: 0 0 4em -1em black; */

    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 100%;
    /* width: 100%; */
    /* padding: .5em 1em; */
    font-size: 0.6em;
    color: white;
    /* backdrop-filter: brightness(0.8) blur(2px); */
    /* background-color: transparent; */
    scroll-snap-align: center;
}

#slider .slide:not(:first-child) {
    backdrop-filter: brightness(0.8) blur(2px);
    /* box-shadow: 0 0 13em -6em black inset; */
}
#slider img {
    height: 100%;
    /* inset: 0; */
    /* position: relative; */
}
#slider .slide .desc{
    /* display: none; */
    /* height: 0em; */
    box-shadow: 0 0 3em 0em black inset;
    padding: 0.4em 1em;
}
#slider .slide:hover .desc{
    display: initial;
}

.slider-nav{
  --g: 1vh;
  background-color: hsl(var(--cp1) / 0.5);
  /* mix-blend-mode: exclusion; */
  isolation: isolate;
  backdrop-filter: blur(2px) drop-shadow(0px -3px 4em black);
  display:flex;
  place-content: center;
  place-items: flex-end;
  gap: var(--g);
  padding-block: var(--g);
  font-size: 1em;
  position: relative;
  z-index:11;
  animation-name: slideUp;
  bottom: 100vh;
  animation-delay: calc(var(--time)*3);
}

.slider-nav:before {
    content: "";
    position: absolute;
    z-index:-1;
    width: 100%;
    height: 100%;
    /* background-color: hsl(var(--cp1) / .6); */
    /* mix-blend-mode: exclusion; */
    /* backdrop-filter: blur(0.3em) drop-shadow(0px -3px 4em black); */
}

.slider-nav > * {
    flex: 0 1 20vh;
    /* background-color: var(--color-primary-3); */
    /* width: 20vh; */
    aspect-ratio: 5/3.5;
    isolation: isolate;
    position: relative;
    transition-property: transform, opacity;
    cursor: pointer;
}

.slider-nav > *:hover {
    transform: scale(1.1);
}

.slider-nav:hover > *:not(:hover) {
  transform: scale(.9);
    opacity: .8;
  /* box-shadow: 0 0 2em 0em black inset; */
}


.slider-nav img{
  width: 100%;
}



.page#s3 {/* grid-template-rows: 1fr 1fr; *//*     background-image: url(../images/bg2.png); */}


.page#s3 header{
    background-color: var(--color-primary-2);
}
.page#s3 h2::before{
    content: "02.";
}
.page#s3 > .cont {
    background-image: linear-gradient(180deg, var(--color-primary-1) var(--banner-height), transparent var(--banner-height));
}

details{
/*     position: relative; */
}
details, summary{
  transition:none;
}
details > summary {
  --offset: 0.4em;
  list-style: none;
  background-color: var(--color-primary-1);
  color:var(--color-primary-3);
  display:inline-block;
  /* margin-top:calc(var(--offset)*-1); */
  padding: 0.24em 1em;
  border-color: transparent;
  /* border-block: var(--offset) transparent solid; */
}

details[open] > summary {border-block: var(--color-primary-3) var(--offset) solid;background-color: var(--color-primary-3);color: var(--color-primary-1);margin-top: calc(var(--offset)*-1);text-decoration: underline;}

details > summary::-webkit-details-marker {
  display:none;
}

details > summary + * {
  position:absolute;
  top: max(10px,13vh);
  /*   top:2em; */
  left:1em;
  left: max(0px, min(30px, calc((100vw - 17px - 97%) * 9999)));
  width: 370px;
  /* margin: 2em; */
  /* right: max(0px, min(10%, calc((100vw - 10px - 100%) * 9999))); */
  /* right: 50%; */
  padding: .5em 2em;
  background-color: white;
  box-shadow: 1em 0em 4em -2em var(--color-primary-1);
}
details h3{font-size: 1.5em;color:var(--color-primary-1);}

details table{
  /*   border-collapse: separate;
  border-spacing: 50px 2px; */
  font-size: 0.8em;
  width: 100%;
  }
details table tr{width: 100%;display:flex;/* flex-wrap: wrap; *//* align-content: space-between; *//* place-content: space-between; */gap: calc(15% + 10px);}
details td:first-child {/* padding-right:5em; */}


.tabs {
  list-style: none;
  float: none;
  height: 100%;
}
.tabs li {
    float: left;
    display: block;
  }
.tabs input[type="radio"] {
    cursor: none;
    --hover-height: 0em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    height: calc((var(--hover-height)*2) + var(--banner-height));
    margin-top: calc(var(
    --banner-height) * -1 - var(--hover-height));
    width: 100%;
    background-color: var(--color-primary-3);
    /* float: left; */
    /* position: relative; */
    /* top: var(--banner-height); */
    left: 0em;
    z-index: 0;
    display: none;
}

.tabs input[type="radio"]:checked {--hover-height: 0.25em;}


.tabs label{
  transition:none;
  --offset: 0.4em;
  list-style: none;
  background-color: var(--color-primary-1);
  color:var(--color-primary-3);
  display: block;
  padding: 0.24em 1em;
  border-color: transparent;
  cursor: pointer;
  user-select: none;
  position: relative;
  text-align: center;
  height: var(--banner-height);
  z-index: 1;
  transition-property: color;
}

.tabs label:hover {
    text-decoration: underline;
}
.tabs input:checked + label {
  border-block: var(--color-primary-3) var(--offset) solid;
  background-color: var(--color-primary-3);
  color: var(--color-primary-1);
  margin-top: calc(var(--offset)*-1);
  height: calc(var(--banner-height) + var(--offset)*2);
  text-decoration: underline;
  cursor: auto;
}
.tabs input[type="radio"] ~ .tab-content {position:absolute;z-index: 0;width:100%;height: 100%;left: 0;top: var(--banner-height);background-size: cover;background-position: center center;}

.tabs input[type="radio"]:not(:checked) ~ .tab-content {
    display: none;
    height: 0%;
}


div#tab-content1 {
    background-image: url(../images/bg2.png);
}

div#tab-content2 {
    background-image: url(../images/bg3.png);
    background-position: center 30%;
}

.tabs h3{
  font-size: 1.5em;
  line-height:1.6em;
  color:var(--color-primary-1)
}
.tabs .cont{animation-duration: calc(var(--time)*1);animation-name: fade;}
.tabs .box{
    --box-width-limit: 40%;
    --box-margin: 3vw;
    background-color: hsl(0deg 0% 100% / 70%);
    padding: 1em 2em;
    width: 19em;
    /* width: min(100% , max(60%, var(--box-width-limit))); */
    margin: var(--box-margin);
    /* margin-right: min(3vw, max(40%,350px)); */
    /* margin-right: 26vw; */
}

.tabs table{width:100%;}
.tabs table tr{width: 100%;display:flex;/* flex-wrap: wrap; *//* align-content: space-between; *//* place-content: space-between; */gap: calc(15% + 10px);font-size: 0.8em;}
.tabs td:first-child {/* padding-right:5em; */}




@media (max-width: 505px) and (orientation: portrait) 
{
    main{max-height: 400px;}
  .page{font-size: 3.3vw;}
  .tabs{padding-inline:0px;}
  .tabs label,.tabs input:checked + label{
      margin:0px;
      height:auto;
      border: none;
  }
  .tabs .box{
    width:auto;
  }
  .tabs li {
    float: none;
    display: inline;
  }
  .tabs input[type="radio"] ~ .tab-content{
    position: unset;
    position: relative;
    transition-property: height;
    height: calc(100% - var(--banner-height)/2 - var(--height-footer));
    overflow: hidden;
    top: 0px;
  }
}



@keyframes fadeInDelay{
    0% {
        opacity:0;
    }
    33% {
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

@keyframes fade {
    0% { opacity: 0 }
    50% { opacity: 0.5 }
    100% { opacity: 1 }
  }
@keyframes slideUp{
  from { bottom:-7em;}
  to { bottom: 0;}
}

footer {
    /* position: fixed; */
    position: relative;
    /* bottom: 0; */
    font-size: 0.7em;
    height: var(--height-footer, auto);
    background-color: var(--color-primary-1);
}
footer nav{
    padding-block: 0.6em;
    max-width: 960px;
    margin-inline: auto;
}
footer nav::after {
    content: "";
    inset: 0;
    position: absolute;
    z-index: 1;
    background-color: var(--color-primary-2);
    mix-blend-mode: multiply;
}

footer .copyright{
    font-size: 0.9em;
    font-style: italic;
    text-transform: uppercase;
    color: var(--color-primary-2);
}

footer img {
    height: 2em;
}

