/*  Variables
 NES */
:root{
--nes-gray: #7C7C7C;
--nes-red: #A81000;

/*  SNES */
--snes-red: #F12934;
--snes-blue: #343D93;
--snes-green: #009554;
--snes-yellow: #F8EA57;

/*  N64 */
--n64-blue: #011DA9;
--n64-red: #FE2015;
--n64-green: #069330;
--n64-yellow: #FFC001;

/*  GC 1 */
--gc-black: #010101;
--gc-gray: #92929A;
--gc-purple: #6549C2;

/*  GC 2 */
--gc-grey: #C2C2C0;
--gc-dark-purple: #505388;
--gc-light-purple: #B3B6D9;

--primary: #E81C4F;
--white: #FFFFFF;
--black: #000000;
--silver: #DDDDDD;
--silver-light: #F5F7F9;
--text-color: #566B78;
--pre-border: #6699CC;

}
/*  Mixins */
.linear-gradient {
  background-color: var(--gradient2); /* Fallback Color */
  background-image: -webkit-gradient(linear, var(--angle), from(var(--gradient1)), to(var(--gradient2))); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(var(--angle), var(--gradient1), var(--gradient2)); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(var(--angle), var(--gradient1), var(--gradient2)); /* FF3.6 */
  background-image:     -ms-linear-gradient(var(--angle), var(--gradient1), var(--gradient2)); /* IE10 */
  background-image:      -o-linear-gradient(var(--angle), var(--gradient1), var(--gradient2)); /* Opera 11.10+ */
  background-image:         linear-gradient(var(--angle), var(--gradient1), var(--gradient2));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=var(--angle),StartColorStr='#{var(--gradient1)}', EndColorStr='#{var(--gradient2)}');
}

/*  Keyframes */
@keyframes fade {
  0% { opacity: 0 }
  50% { opacity: 0.5 }
  100% { opacity: 1 }
}


nav ul {
    margin: 1rem 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
  }
nav a {
    margin: 0 1rem;
    color: var(--text-color);
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: flex-start;
  }


/*  BLACK MAGIC */
.app > * {
  display: none;
}

.app > *:last-child {
  display: block;
}

.app > *:target {
  display: block;
  animation: fade 300ms linear 1;
}
  
.app > *:target ~ * {
  display: none;
}

body {
  background-color: var(--silver);
  color: var(--text-color);
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
  line-height: 1.5;
}

h1, h2, strong {
  color: #333;
}

a {
    color: var(--black);
}

header {
  background-color: gray;
  line-height: 1.2;
  padding: 8vw 2em;
  text-align: center;
}
  
 header h1 {
    color: var(--white);
    font-size: 2.5em;
    text-transform: uppercase;
  }
  
 header a {
    border: 2px solid var(--white);
    color: var(--white);
    border-radius: 4px;
    font-size: 0.8em;
    letter-spacing: 0.2em;
    padding: 1em 2em;
    text-transform: uppercase;
    text-decoration: none;
    transition: none 200ms;
    transition-property: color, background, border;
    
}
    header a:hover {
      background: crimson;
      border-color: crimson;
    }

.nes-header {
  background-color: var(--nes-gray);
  /* @include linear-gradient(90deg, var(--nes-gray), var(--black)); */
  --angle: 90deg;
  --gradient1: var(--nes-gray);
  --gradient2: var(--black);

}

 
.nes-header a:hover {
      background: var(--nes-red);
      border-color: var(--nes-red);
    }
  

.snes-header {
  background-color: var(--snes-red);
  /* @include linear-gradient(90deg, $snes-red, $snes-yellow); */
  --angle: 90deg;
  --gradient1: var(--snes-red);
  --gradient2: var(--snes-yellow);
  
}
    .snes-header a:hover {
      background: var(--snes-green);
      border-color: var(--snes-green);
    }
  

.n64-header {
  background-color: var(--n64-green);
  /* @include linear-gradient(90deg, $n64-green, $n64-yellow); */
  --angle: 90deg;
  --gradient1: var(--n64-green);
  --gradient2: var(--n64-yellow);
  
}
 .n64-header  a {
    border: 2px solid var(--white);
    color: var(--white);
    
}
.n64-header  a :hover {
      background: var(--n64-yellow);
      border-color: var(--n64-yellow);
    }

.gc-header {
  background-color: var(--gc-purple);
  /* @include linear-gradient(90deg, $gc-purple, $gc-gray); */
  --angle: 90deg;
  --gradient1: var(--gc-purple);
  --gradient2: var(--gc-gray);
}
  
 .gc-header  a {
    border: 2px solid var(--white);
    color: var(--white);
    
}
    .gc-header  a:hover {
      background: var(--black);
      border-color: var(--black);
    }

/*  Container */
.container {
  margin: 0 auto;
  max-width: 50em;
  padding: 4em 2em;
}
